.presentation {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 130px;

  .presentation__bubble {
    background-color: var(--primary-color);
    border-radius: 18px 18px 0;
    color: var(--white-color);
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    max-width: 100px;
    padding: 10px 16px;
    text-align: left;
    transform: translate(-50px, 5px);
  }

  .presentation__thumbnail {
    background-image: url('./src/img/cristian_gutierrez_dev.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 225px;
    overflow: hidden;
    width: 225px;
  }

  .presentation__badge {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-top: 25px;

    .presentation__i-am {
      color: var(--text-gray);
    }

    .presentation__name {
      color: var(--text-gray);
      font-size: 64px;
      font-weight: 700;
      text-align: center;
    }

    .presentation__last-name {
      color: var(--primary-color);
    }

    .presentation__title {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }

    .presentation__temp-line {
      background-color: var(--gray-light);
      height: 100vh;
      margin: 5px 20px 0;
      width: 2px;
    }
  }
}
