.meet-me {
  height: 200vh;
  scroll-snap-align: start;

  .meet-me__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;

    @media (min-width: 768px){
      max-width: 575px;
      margin: 0 auto;
    }
  }

  .meet-me__title-wrapper {
    position: relative;
    width: 100%;
  }

  .meet-me__title {
    background-color: var(--white-color);
    font-size: 1.75rem;
    font-weight: 700;
    padding: 10px 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    .meet-me__title-highlighted {
      color: var(--primary-color);
    }

    @media (min-width: 768px){
      font-size: 2rem;
    }
  }

  .meet-me__description {
    background-color: var(--white-color);
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 20px;

    @media (min-width: 768px){
      font-size: 1.125rem;
    }
  }

  .meet-me__temp-line-wrapper {
    position: relative;
    width: 100%;

    @media (min-width: 768px){
      display: none;
    }
  }

  .meet-me__temp-line-desktop {
    background-color: var(--gray-light);
    display: none;
    height: 100vh;
    left: 0;
    right: 0;
    position: absolute;
    transform: translate(-65px, -40px);
    width: 2px;

    @media (min-width: 768px){
      display: block;
    }
  }

  .meet-me__temp-line-mobile {
    background-color: var(--gray-light);
    height: 100vh;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 2px;
  }
}
