:root {
  --primary-color: #e45044;
  --white-color: #fff;
  --text-gray: #585857;
  --gray-light: #d8d8d8;
  --tablet-size: 768px
}

html,
body,
.app {
  height: 100%;
  font-size: 16px;
}

body {
  color: var(--text-gray);
  font-family: 'Roboto Mono', monospace;
}

.app {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 0px;
  }
}
