:root {
  --primary-color: #e45044;
  --white-color: #fff;
  --text-gray: #585857;
  --gray-light: #d8d8d8;
}

body {
  color: var(--text-gray);
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
}
